/* language-game-dialog.component.css */
/*#2f3b52,  #86a3e0*/
.game-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.score {
  font-size: 18px;
  margin-bottom: 15px;
}

.question {
  font-size: 20px;
  margin-bottom: 15px;
}

.choices {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.choices button {
  background-color: #2f3b52;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choices button:hover {
  background-color:#86a3e0;
}

.selected {
  background-color: #f44336;
}

.feedback {
  font-size: 18px;
  margin-top: 10px;
}

.check-answer-btn, .next-question-btn, .restart-btn {
  background-color: #86a3e0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.check-answer-btn:disabled, .next-question-btn:disabled, .restart-btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.check-answer-btn:hover, .next-question-btn:hover, .restart-btn:hover {
  background-color:  #2f3b52;
}

.gameOver {
  color: red;
  font-size: 22px;
}

button {
  margin-top: 10px;
}
